In [1]:
# --- Lists: Creation and Basic Operations ---
# A list can contain multiple data types
fruits = ["apple", "banana", "cherry", "orange"]
numbers = [10, 20, 30, 40, 50]
mixed_list = [1, "hello", 3.14, True]

print("Fruits List:", fruits)
print("First Fruit:", fruits[0])

Fruits List: ['apple', 'banana', 'cherry', 'orange']
First Fruit: apple

In [2]:
print("Last Fruit:", fruits[-1])

Last Fruit: orange

#### Slicing

In [3]:
print("Sliced Fruits:", fruits[1:3])  # Slicing

Sliced Fruits: ['banana', 'cherry']

In [4]:
print("Repeated List:", fruits * 2)   # Repetition

Repeated List: ['apple', 'banana', 'cherry', 'orange', 'apple', 'banana', 'cherry', 'orange']

In [5]:
print("Concatenated:", fruits + ["grape", "melon"])  # Concatenation

Concatenated: ['apple', 'banana', 'cherry', 'orange', 'grape', 'melon']

### --- List Methods ---

In [6]:
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [7]:

fruits.append("kiwi")      # Add element
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [8]:
fruits.insert(1, "mango")  # Insert at specific position
print(fruits)

['apple', 'mango', 'banana', 'cherry', 'orange', 'kiwi']

In [9]:
fruits.remove("banana")    # Remove an element
print(fruits)

['apple', 'mango', 'cherry', 'orange', 'kiwi']

In [10]:
popped = fruits.pop()      # Pop last element
print("Popped Element:", popped)
print(fruits)

Popped Element: kiwi
['apple', 'mango', 'cherry', 'orange']

In [11]:
fruits.sort()              # Sort list alphabetically
print(fruits)

['apple', 'cherry', 'mango', 'orange']

In [13]:
fruits.reverse()           # Reverse the list

print(fruits)

# Count and Finding Index of a value
print("Count of 'apple':", fruits.count("apple"))
print("Index of 'mango':", fruits.index("mango"))

['apple', 'cherry', 'mango', 'orange']
Count of 'apple': 1
Index of 'mango': 2

#### --- Tuples ---
#### Tuples are immutable sequences

In [15]:
my_tuple = (10, 20, 30, 40)
print("Tuple:", my_tuple)
print("First Element:", my_tuple[0])
print("Slice:", my_tuple[1:3])

Tuple: (10, 20, 30, 40)
First Element: 10
Slice: (20, 30)

In [17]:
# Tuple unpacking
a, b, c, d = my_tuple
print("Unpacked Values:", a, b, c, d)
print(a)

Unpacked Values: 10 20 30 40
10

#### --- Sets ---
#### Sets store unique elements and are unordered

In [23]:

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Uninon
print("Union:", set1 | set2)

Union: {1, 2, 3, 4, 5, 6}

In [24]:
# Intersection
print("Intersection:", set1 & set2)

# Difference
print("Difference:", set1 - set2)

#Symmetric Difference
print("Symmetric Difference:", set1 ^ set2)

Intersection: {3, 4}
Difference: {1, 2}
Symmetric Difference: {1, 2, 5, 6}

In [25]:
# add method
set1.add(10)
print(set1)

{1, 2, 3, 4, 10}

In [26]:
set1.remove(1)
print("Modified Set1:", set1)

Modified Set1: {2, 3, 4, 10}

In [29]:
# --- Dictionaries ---
# Key-Value pairs
student = {
    "name": "Alice",
    "age": 21,
    "marks": 89,
    "course": "Python"
}

print(f"Dictionary: {student}")

# Retrive Name
print("Name:", student["name"])

Dictionary: {'name': 'Alice', 'age': 21, 'marks': 89, 'course': 'Python'}
Name: Alice

In [30]:
student["age"] = 22  # Update value
print(student)

{'name': 'Alice', 'age': 22, 'marks': 89, 'course': 'Python'}

In [ ]:
student["grade"] = "A"  # Add new key-value
print("Updated Dictionary:", student)

#### Dictionary methods

In [ ]:
print("Keys:", student.keys())
print("Values:", student.values())

Keys: dict_keys(['name', 'age', 'marks', 'course'])
Values: dict_values(['Alice', 22, 89, 'Python'])
Items: dict_items([('name', 'Alice'), ('age', 22), ('marks', 89), ('course', 'Python')])

In [32]:
print("Items:", student.items())

Items: dict_items([('name', 'Alice'), ('age', 22), ('marks', 89), ('course', 'Python')])

#### --- Sequence Operations ---

In [33]:
sequence = [1, 2, 3, 4, 5]
print("Length:", len(sequence))
print("Max:", max(sequence))
print("Min:", min(sequence))
print("Sum:", sum(sequence))
print("Check 3 in sequence:", 3 in sequence)

Length: 5
Max: 5
Min: 1
Sum: 15
Check 3 in sequence: True

#### --- Conditional Blocks ---

In [34]:
num = 10

if num > 0:
    print("Positive Number")
elif num == 0:
    print("Zero")
else:
    print("Negative Number")

Positive Number

#### --- For Loops ---

In [35]:
# Using range()
for i in range(1, 6):
    print("Range Value:", i)

Range Value: 1
Range Value: 2
Range Value: 3
Range Value: 4
Range Value: 5

In [36]:
# Loop through list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print("Fruit:", fruit)

Fruit: apple
Fruit: banana
Fruit: cherry

In [39]:
# Loop through dictionary
student = {"name": "Alice", "marks": 90, "course": "Python"}
print(student.items())

dict_items([('name', 'Alice'), ('marks', 90), ('course', 'Python')])

In [40]:
for key, value in student.items():
    print(f"{key}: {value}")

name: Alice
marks: 90
course: Python

#### --- List Comprehensions ---

In [ ]:
squares = [x**2 for x in range(1, 11)]
print("Squares:", squares)

Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Even Numbers: [2, 4, 6, 8, 10]
Uppercase Fruits: ['APPLE', 'BANANA', 'CHERRY']

In [42]:
even_numbers = [x for x in range(1, 11) if x % 2 == 0]
print("Even Numbers:", even_numbers)

Even Numbers: [2, 4, 6, 8, 10]

In [43]:
fruits_upper = [fruit.upper() for fruit in ["apple", "banana", "cherry"]]
print("Uppercase Fruits:", fruits_upper)

Uppercase Fruits: ['APPLE', 'BANANA', 'CHERRY']

#### --- While Loop ---

In [44]:

count = 0
while count < 5:
    print("Count:", count)
    count += 1
else:
    print("Loop finished successfully")

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Loop finished successfully

In [ ]:
# Break statement (exits the loop)
for i in range(1, 10):
    if i==3:
        break
    print(i)

1
2

In [ ]:
# Continue (Skips the current iteration and moves to the next)
for i in range(1, 10):
    if i==3:
        continue # Skips 
    print(i)

1
2
4
5
6
7
8
9

In [ ]:
# Pass (Does nothing, acts as a placeholder) for future development
for i in range(1, 10):
    if i==3:
        pass # Skips 
    print(i)

1
2
3
4
5
6
7
8
9

#### --- Nested Conditional and Loop Blocks ---

In [ ]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        print(num, "is Even")
    else:
        print(num, "is Odd")
else:
    print("Completed checking all numbers.")

-1 is Odd
-2 is Even
3 is Odd
4 is Even
5 is Odd
Completed checking all numbers.

#### --- Example ---

In [55]:
students = [
    {"name": "Alice", "marks": 85},
    {"name": "Bob", "marks": 72},
    {"name": "Charlie", "marks": 90},
]

grades = {}

for student in students:
    name = student["name"]
    marks = student["marks"]

    if marks >= 85:
        grade = "A"
    elif marks >= 70:
        grade = "B"
    else:
        grade = "C"

    grades[name] = grade

print("Final Grades:")
for name, grade in grades.items():
    print(f"{name}: {grade}")

Final Grades:
Alice: A
Bob: B
Charlie: A